/FileSharing/nbproject/private/
/Sserver/nbproject/private/
/Sserver/build/
/Clone_FileSharingI/nbproject/private/
/Clone_FileSharingI/dist/
/Clone_FileSharingI/build/
/server/nbproject/private/
/Client/nbproject/private/
/Client/build/
/Client/dist/